.about {
    padding-top: 51px;
    @media(max-width:539px) {
        padding-top: 32px;
    }
    &_brand {
        @media(max-width:539px) {
            background: #EFEFF1;
            padding-bottom: 46px;
            padding-top: 42px;
            & .about__content {
                background: #fff;
                padding: 10px 20px 27px 20px;
            }
            & .about__pic {
                display: none;
            }
        }
    }
    & h3 {
        margin-bottom: 27px;
        @media(max-width:899px){
            display: none;
        }
    }
    &__content {
        display: flex;
        box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        @media(max-width:899px) {
            flex-wrap: wrap;
            box-shadow: none;
        }
    }

    &__pic {
        border-radius: 6px;
        flex: 0 0 52%;
        max-width: 603px;
        @media(max-width:899px) {
            flex: 0 0 100%;
            max-width: none;
        }
        & img {
            border-radius: 6px 0 0 6px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media(max-width:899px) {
                border-radius: 6px;
            }
        }
    }

    &__text {
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        color: #1F1A21;
        padding: 45px 45px 45px 57px;
        @media(max-width:539px){
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
        }
        & h3 {
        display: none;
            @media(max-width:899px){
                display: block;
            }
            @media(max-width:539px){
                font-weight: 400;
                font-size: 25.5319px;
                line-height: 30px;
            }
        }
        @media(max-width:899px) {
            padding: 25px 0px 0px 0px;
        }
        & p {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }
    &__brand {
        display: flex;
        align-items: center;
        gap: 5px;
        @media(max-width:539px) {
            gap: 7px;
        }
    }
    &__name {
        text-transform: uppercase;
        font-family: 'Rubik';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 25.5319px;
            line-height: 30px;
            color: #272727;
        }
    }
}
.container {
}
