.car-gallery {
    padding-top: 50px;
    @media(max-width:539px) {
        padding-top: 29px;
    }
    &__content {
        display: flex;
        gap: 16px;
        padding-top: 20px;
        @media(max-width:899px) {
            flex-wrap: wrap;
        }
    }

    &__video {
        flex: 0 0 52%;
        @media(max-width:899px) {
            flex: 0 0 100%;
            height: 328px;
        }
        @media(max-width:539px) {
            height: 238px;
        }
        & iframe {
            border-radius: 5.77376px;
            height: 100%;
        }
    }

    &__list {
        display: flex;
        gap: 13px;
        flex-wrap: wrap;
    }
    &__pic {
        flex: 0 0 calc(50% - 6.5px);
        border-radius: 5.77376px;
        position: relative;
        &:last-child {
            &::after {
                content: "";
                position: absolute;
                background: rgba(23, 23, 23, 0.79);
                backdrop-filter: blur(0.451836px);
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                display: block;
                border-radius: 5.77376px;
                @media(max-width:899px) {
                    display: none;
                }
            }
        }
        & img {
            object-fit: cover;
            flex: 0 0 calc(50% - 6.5px);
            width: 100%;
        }
        & span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 19.7178px;
            line-height: 23px;
            color: #FFFFFF;
            z-index: 2;
            white-space: nowrap;
            @media(max-width:899px) {
                display: none;
            }
        }
    }
    &__btn_mobile {
        display: none;
        @media(max-width:899px) {
            display: flex;
            width: 100%;
            max-width: 328px;
            margin: 13px auto 0px;
        }
    }
}
