.car-color-mobile {
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 0px;
    gap: 7px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    @media(max-width:767px) {
        opacity: 1;
        pointer-events: all;
    }
}
.color-swiper {
    width: 19px;
		&__arrow {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: -14px;
                top: -8px;
                width: 30px;
                height: 30px;
            }
		}

		&__prev {
		}

		&__wrapper {
		}

		&__slide {
		}

		&__next {
            & svg {
                transform: rotate(180deg);
            }
            &::after {
                left: 0px;
            }
		}
}
