.credit__col-item {
    border-radius: 5px;
    box-shadow: 2px 2px 4px 6px rgba(39, 39, 39, 2.8%);
}
.credit {
    padding: 37px;
    &_carloan {
        @media(max-width:1199px) {
            padding: 15px;
        }
        @media(max-width:767px) {
            box-shadow: none;
        }
        & .credit__btn-submit {
            @media(max-width:1023px) {
                width: fit-content;
                padding: 17px 25px;
            }
        }
        & .credit__calc-desc-subtitle {
            @media(max-width:1023px) {
                width: 165px;
                flex: 0 0 auto;
            }
        }
        & .credit__subtitle_mobile {
            display: none;
            font-family: 'Rubik';
            font-weight: 600;
            font-size: 22px;
            line-height: 26px;
            color: #272727;
            margin-top: 5px;
            @media(max-width:539px) {
                display: block;
            }
        }
        & h3 {
            @media(max-width:1215px) {
                font-size: 24px;
            }
            @media(max-width:539px) {
                display: none;
            }
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 19px;
        margin-top: 23px;
        margin-bottom: 14px;
        @media(max-width:539px) {
            margin-bottom: 18px;
        }
   }

    &__form {
    }

    &__calc {
        & .credit__field {
            &:not([type=range]) {
                padding: 0 15px;
                margin-top: 5px;
            }
        }
    }
    &__item-subtitle {
        font-size: 12px;
        line-height: 14px;
        color: #7E7E7E;
        padding-left: 15px;
    }
    &__item-calc {
        &:not(:last-child) {
            margin-bottom: 15px;

        }
    }

    &__item {
        background: #EEF1F8;
        border-radius: 5px;
        position: relative;
        padding-top: 11px;
    }

    &__field {
        font-size: 14px;
        line-height: 16px;
        background: #EEF1F8;
        display: block;
        width: 100%;
        &_margin {
            margin-bottom: 14px;
        }
    }

    &__item-footer {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #A0A0A0;
        display: flex;
        justify-content: space-between;
        margin-top: 7px;
    }

    &__calc-desc {
        display: flex;
        gap: 20px;
        @media(max-width:539px) {
            gap: 0px;
        }
        &:not(:first-child) {
            margin-top: 16px;
        }
    }
    &__calc-desc-subtitle {
        // flex: 0 0 47%;
        width: 159px;
    }
    &__calc-res {
    }
    &__block {
        &:not(:last-child) {
            border-bottom: 0.7px solid #EAE9EF;
            padding-bottom: 26px;
            &.credit__block_filter {
                padding-bottom: 15px;
            }
        }
    }
    &__btn-submit {
        margin-top: 15px;
        width: 100%;
        @media(max-width:539px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }
    &__disc {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8D8D8D;
        margin-top: 12px;
        & a {
            color: #8D8D8D;
            text-decoration: underline;
        }
    }
}



