.equipment {
    padding-top: 56px;
    @media(max-width:767px) {
        padding-top: 25px;
    }
    &__content {
        padding-top: 26px;
        @media(max-width:1023px) {
            display: none;
        }
    }

    &__list {
    }

    &__block {
        border-radius: 5px;
        &:not(:last-child) {
            margin-bottom: 26px;
        }
    }

    &__block-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #EBEBEB;
        border-radius: 5px 5px 0px 0px;
        padding: 18px 26px 18px 29px;
    }

    &__block-descs-list {
        display: flex;
        column-gap: 29px;
        align-items: center;
    }

    &__block-desc {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        gap: 4px;
        & b {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
    }
    &__block-name {
        margin-right: 19px;
    }
    &__block-date {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
    }

    &__item-col {
        flex: 0 0 calc(50%);
        padding: 0 20px;
        &:first-child {
            border-right: 1px solid #d7d7d7;
        }
    }

    &__item-col-subtitle {
        text-transform: uppercase;
        padding-left: 5px;
        font-weight: 600;
        margin-bottom: 19px;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &__item-col-td {
        margin-bottom: 20px;
    }
    &__item-col-row {
        padding-left: 22px;
        background: url('../img/icons/v.png') no-repeat right center;
        display: flex;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 7px;
        }
        & span {
        }
        &::after {
            content: '';
            display: block;
            border-bottom: 1.5px dotted #d7d7d7;
            height: 3px;
            margin: 13px 25px 0 5px;
            flex: 1;
        }
    }

    &__item {
        padding: 0 0 0 0;
        gap: 10px;
        &.active {
            & .equipment__item-name {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
        &:nth-child(2) {
            border-radius: 0 0 5px 5px;
        }
        &:nth-child(2n) {
            background: #F5F5F5;
        }
    }
    &__item-preview {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 18px 25px 19px 27px;
        cursor: pointer;
    }
    &__item-content {
        display: none;
        padding: 18px 25px 20px 27px;
    }
    &__item-content-body {
        display: flex;
        padding: 30px 0px 10px 0px;
        border: 1px solid #d7d7d7;
        margin-top: 15px;
    }
    &__item-name {
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        gap: 10px;
        align-items: center;
        flex: 1;
        max-width: 178px;
        &::after {
            content: "";
            background: url(../img/icons/arrow_equipment.svg) 0 0 no-repeat;
            display: block;
            width: 18px;
            height: 10px;
            transition: .2s;
        }
    }
    &__item-lead {
        display: flex;
        justify-content: space-between;
        flex: 0 0 47%;
        align-items: flex-start;
        gap: 10px;
        @media(max-width:1099px) {
            flex: 0 0 43%;
        }
    }
    &__item-benefit {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        & span {
            display: block;
            font-weight: 500;
            margin-top: 5px;
        }
    }

    &__item-price {
        font-family: 'Rubik';
        font-size: 16px;
        line-height: 19px;
    }

    &__item-price-old {
        font-weight: 400;
    }

    &__item-price-now {
        font-weight: 500;
        color: #E82B2B;
        margin-top: 5px;
    }

    &__item-btns {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__item-credit-btn {
        padding: 12px 34px;
        border-radius: 3.58543px;
    }

    &__item-btn {
        background: #F5F5F5;
        border: 1px solid #272727;
        border-radius: 3.58543px;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 12px 27px;
        text-transform: uppercase;
        color: #272727;
    }

    &__item-reservation-btn {
        padding: 10px 29px;
    }

    &__item-trade-btn {
    }
}



.equipment {

    &__filter {
        padding-top: 18px;
        display: none;
        @media(max-width:1023px) {
            display: block;
        }
    }

    &__filter-selection {
        &:not(:first-child) {
            margin-top: 5px;
        }
        & .selector__subtitle {
            &::after {
                background: url(../img/icons/v_selector.svg) 0 0 no-repeat;
                background-size: cover;
                right: 18px;
            }
        }
    }

    &__filter-content {
        padding-top: 14px;
    }

    &__filter-block {
        background: #FFFFFF;
        box-shadow: 0px 3px 7px rgba(18, 18, 18, 0.07);
        border-radius: 5px;
        padding: 12px 12px 11px 12px;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }
    &__filter-block_hidden {
        padding-top: 12px;
        padding-bottom: 7px;
        display: none;
    }
    &__filter-block-title {
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #272727;
        &::after {
            content: "";
            position: absolute;
            background: url(../img/icons/v_selector.svg) 0 0 no-repeat;
            background-size: cover;
            width: 13px;
            height: 8px;
            right: 18px;
            top: 17px;
            cursor: pointer;
            transition: .2s;
        }
    }

    &__filter-block-list {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        & ul {
            padding-left: 10px;
        }
        & li {
            list-style-type: disc; //li точка
            list-style-position: inside;
            &:not(:first-child) {
                margin-top: 2px;
            }
        }
    }

    &__filter-block-subtitle {
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #272727;
        margin-bottom: 5px;
    }
}
.selector {

    &__subtitle {
    }

    &__content {
    }

    &__list {
    }

    &__list-item {
    }
}
