.sale {
    font-family: 'Rubik';
    &__content {
        display: flex;
        gap: 20px;
        padding-top: 34px;
    }

    &__text {
        position: relative;
        background: linear-gradient(104.34deg, #2C64EE 2.17%, #69C9FF 120.72%);
        border-radius: 5px;
        padding: 66px 20px 20px 29px;
        flex: 1;
    }

    &__title {
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        max-width: 389px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-top: 33px;
        max-width: 330px;
        position: relative;
        z-index: 1;
    }

    &__pic {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 36%;
        & img {
        border-radius: 0 0 5px 0;
            width: 100%;
        }
    }

    &__form {
        background: #FFFFFF;
        box-shadow: 2px 2px 4px 6px rgba(39, 39, 39, 0.06);
        border-radius: 5px;
        max-width: 610px;
        padding: 36px;
    }

    &__form-title {
        font-weight: 600;
        font-size: 26px;
        line-height: 31px;
    }

    &__form-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin-top: 15px;
    }

    &__form-input {
    }
    &__form-info {
        display: flex;
        gap: 14px;
        margin-top: 15px;
    }
    &__form-btn {
        width: 100%;
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        margin-top: 16px;
    }

    &__form-lead {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8D8D8D;
        margin-top: 11px;
        & a {
            color: #8D8D8D;
            text-decoration: underline;
        }
    }
}
